<!DOCTYPE html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Shop Homepage - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon"
	th:href="@{resources/assets/favicon.ico}" />
<!-- Bootstrap icons-->
<link th:href="@{/css/bootstrap-icons.css}" rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />


<script>
	/*
	 function putCartDetail(obj){
	 //取得路徑
	 var pathName = window.document.location.pathname;
	 //擷取,得到項目名稱
	 var projectName = pathName.substring(0,pathName(1).indexOf('/')+1);
	 window.location.href = projectName + "/deleteCart" + obj;
	 }
	 */
</script>

</head>
<body>
	<div th:insert="fragments/navbar.html"></div>
	<div th:insert="fragments/header.html"></div>
	<!-- Section-->
	<section class="py-5">
		<div class="container px-4 px-lg-5 mt-5">

			<div
				class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


				<div class="col mb-5" th:each="product:${products}">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top w-100 "
							th:src="@{'/img/'+ ${product.prodPic}}" alt="..."
							style="height: 120px" />


						<!-- Product details-->
						<div class="card-body p-4">
							<div class="text-center">
								<!-- Product name-->
								<h5 class="fw-bolder" th:text=" ${product.prodName}"></h5>
								<!-- Product price-->
								<font th:text=" ${product.prodPrice} + '元'"></font>
							</div>
						</div>
						<!-- Product actions-->
						<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
							<div class="text-center">
								<div class="text-center">
									<a class="btn btn-outline-dark mt-auto"
										th:href="@{/putCartDetail/} + ${product.prodNum}">Add Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>



				<!-- ----------------------------------------------------------------------------- -->

				<!-- ----------------------------------------------------------------------------- -->
			</div>
			<!-- </form> -->
		</div>
	</section>
	<!-- Footer-->
	<div th:insert="fragments/footer.html"></div>
	

</body>
</html>
